## Imports

In [1]:
# Import Spark
import pyspark
from pyspark.sql import SparkSession, functions as F, types as T

In [2]:

spark = SparkSession.builder.master("local[*]").getOrCreate()
print(spark.version)

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/09/07 09:05:47 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

4.0.0

## Instantiate a Spark session

In [3]:
# Create a Spark session
spark = (SparkSession.builder
         # Give a name to the Spark application
         .appName("spark-fundamentals-lab")
         # Execute the Spark using the resources of the local device
         .master("local[*]")
         # Activate AQE to optimize shuffle and join strategy
         .config("spark.sql.adaptive.enabled", "true")
         # Looks for another Spark session to activate it, or create one if needed
         .getOrCreate())

25/09/07 09:05:49 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [4]:
# Print the Spark version
print("Spark version:", spark.version)

Spark version: 4.0.0

## Load the dataframe and write it in Parquet

### Load the dataframe

In [5]:
# Create a plan to load the csv, in multiple steps (nothing is loaded until an action is performed)
df = (
    spark.read
    # Set the first rows as headers
    .option("header", True)
    # Deduct data types
    .option("inferSchema", True)
    # Import the csv 
    .csv("data/airlines_flights_data.csv")
)

In [6]:
# Print the schema
df.printSchema()

root
 |-- index: integer (nullable = true)
 |-- airline: string (nullable = true)
 |-- flight: string (nullable = true)
 |-- source_city: string (nullable = true)
 |-- departure_time: string (nullable = true)
 |-- stops: string (nullable = true)
 |-- arrival_time: string (nullable = true)
 |-- destination_city: string (nullable = true)
 |-- class: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- days_left: integer (nullable = true)
 |-- price: integer (nullable = true)

In [7]:
# Execute an action to load the data: load the 5 first rows of the dataframe
df.show(5, truncate=False) # truncate=False is to be sure we print the entire content of a cell

+-----+--------+-------+-----------+--------------+-----+-------------+----------------+-------+--------+---------+-----+
|index|airline |flight |source_city|departure_time|stops|arrival_time |destination_city|class  |duration|days_left|price|
+-----+--------+-------+-----------+--------------+-----+-------------+----------------+-------+--------+---------+-----+
|0    |SpiceJet|SG-8709|Delhi      |Evening       |zero |Night        |Mumbai          |Economy|2.17    |1        |5953 |
|1    |SpiceJet|SG-8157|Delhi      |Early_Morning |zero |Morning      |Mumbai          |Economy|2.33    |1        |5953 |
|2    |AirAsia |I5-764 |Delhi      |Early_Morning |zero |Early_Morning|Mumbai          |Economy|2.17    |1        |5956 |
|3    |Vistara |UK-995 |Delhi      |Morning       |zero |Afternoon    |Mumbai          |Economy|2.25    |1        |5955 |
|4    |Vistara |UK-963 |Delhi      |Morning       |zero |Morning      |Mumbai          |Economy|2.33    |1        |5955 |
+-----+--------+-------+-----------+--------------+-----+-------------+----------------+-------+--------+---------+-----+
only showing top 5 rows

### Write the dataframe in Parquet

In [8]:
# Write in Parquet
(
    df.write
      # Removes and entirely reloads data
      .mode("overwrite")
      # Convert the dataframe to Parquet and export it to the data folder
      .parquet("data/silver/airlines_flights_data")
)

### Reload the data in Parquet

In [9]:
dfp = spark.read.parquet("data/silver/airlines_flights_data")

In [10]:
# Print the schema (columns and their respective types)
dfp.printSchema()

root
 |-- index: integer (nullable = true)
 |-- airline: string (nullable = true)
 |-- flight: string (nullable = true)
 |-- source_city: string (nullable = true)
 |-- departure_time: string (nullable = true)
 |-- stops: string (nullable = true)
 |-- arrival_time: string (nullable = true)
 |-- destination_city: string (nullable = true)
 |-- class: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- days_left: integer (nullable = true)
 |-- price: integer (nullable = true)

In [11]:
# Count the number of rows in the dataframe (equivalent of len in pandas)
dfp.count()

300153

In [12]:
# Print the main statistics on the dataframe (equivalent of describe in pandas)
dfp.summary().show()

25/09/07 09:05:52 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+-----------------+-------+--------------------+-----------+--------------+------+------------+----------------+--------+------------------+------------------+------------------+
|summary|            index|airline|              flight|source_city|departure_time| stops|arrival_time|destination_city|   class|          duration|         days_left|             price|
+-------+-----------------+-------+--------------------+-----------+--------------+------+------------+----------------+--------+------------------+------------------+------------------+
|  count|           300153| 300153|              300153|     300153|        300153|300153|      300153|          300153|  300153|            300153|            300153|            300153|
|   mean|         150076.0|   NULL|5.427411873908628...|       NULL|          NULL|  NULL|        NULL|            NULL|    NULL|12.221020812718939|26.004750910369044|20889.660523133203|
| stddev|86646.85201148395|   NULL|1.803651814074487...|       NULL|          NULL|  NULL|        NULL|            NULL|    NULL| 7.191997238119021|13.561003687093562|22697.767366074488|
|    min|                0|AirAsia|            0.00E+00|  Bangalore|     Afternoon|   one|   Afternoon|       Bangalore|Business|              0.83|                 1|              1105|
|    25%|            75014|   NULL|                 0.0|       NULL|          NULL|  NULL|        NULL|            NULL|    NULL|              6.83|                15|              4783|
|    50%|           150072|   NULL|                 0.0|       NULL|          NULL|  NULL|        NULL|            NULL|    NULL|             11.25|                26|              7425|
|    75%|           225127|   NULL|                 0.0|       NULL|          NULL|  NULL|        NULL|            NULL|    NULL|             16.17|                38|             42521|
|    max|           300152|Vistara|              UK-996|     Mumbai|         Night|  zero|       Night|          Mumbai| Economy|             49.83|                49|            123071|
+-------+-----------------+-------+--------------------+-----------+--------------+------+------------+----------------+--------+------------------+------------------+------------------+

## Explore the data

### First rows

In [13]:
dfp.show(5, truncate=False)

+-----+--------+-------+-----------+--------------+-----+-------------+----------------+-------+--------+---------+-----+
|index|airline |flight |source_city|departure_time|stops|arrival_time |destination_city|class  |duration|days_left|price|
+-----+--------+-------+-----------+--------------+-----+-------------+----------------+-------+--------+---------+-----+
|0    |SpiceJet|SG-8709|Delhi      |Evening       |zero |Night        |Mumbai          |Economy|2.17    |1        |5953 |
|1    |SpiceJet|SG-8157|Delhi      |Early_Morning |zero |Morning      |Mumbai          |Economy|2.33    |1        |5953 |
|2    |AirAsia |I5-764 |Delhi      |Early_Morning |zero |Early_Morning|Mumbai          |Economy|2.17    |1        |5956 |
|3    |Vistara |UK-995 |Delhi      |Morning       |zero |Afternoon    |Mumbai          |Economy|2.25    |1        |5955 |
|4    |Vistara |UK-963 |Delhi      |Morning       |zero |Morning      |Mumbai          |Economy|2.33    |1        |5955 |
+-----+--------+-------+-----------+--------------+-----+-------------+----------------+-------+--------+---------+-----+
only showing top 5 rows

### Filtered rows

In [14]:
# filter is a transformation --> By executing only this command, we only get a plan
dfp.filter("airline=='SpiceJet'")

# By adding the action show, we can execute a query and print a result dataframe
dfp.filter("airline=='SpiceJet'").show(5, truncate=False)

# Explain the execution plan of the query
dfp.filter("airline=='SpiceJet'").explain()

# Print the number of rows matching with the condition
dfp.filter("airline=='SpiceJet'").count()

+-----+--------+-------+-----------+--------------+-----+------------+----------------+-------+--------+---------+-----+
|index|airline |flight |source_city|departure_time|stops|arrival_time|destination_city|class  |duration|days_left|price|
+-----+--------+-------+-----------+--------------+-----+------------+----------------+-------+--------+---------+-----+
|0    |SpiceJet|SG-8709|Delhi      |Evening       |zero |Night       |Mumbai          |Economy|2.17    |1        |5953 |
|1    |SpiceJet|SG-8157|Delhi      |Early_Morning |zero |Morning     |Mumbai          |Economy|2.33    |1        |5953 |
|28   |SpiceJet|SG-8169|Delhi      |Evening       |zero |Night       |Mumbai          |Economy|2.33    |1        |10260|
|38   |SpiceJet|SG-2976|Delhi      |Evening       |one  |Night       |Mumbai          |Economy|4.5     |1        |12123|
|39   |SpiceJet|SG-2976|Delhi      |Evening       |one  |Morning     |Mumbai          |Economy|15.25   |1        |12123|
+-----+--------+-------+-----------+--------------+-----+------------+----------------+-------+--------+---------+-----+
only showing top 5 rows
== Physical Plan ==
*(1) Filter (isnotnull(airline#92) AND (airline#92 = SpiceJet))
+- *(1) ColumnarToRow
   +- FileScan parquet [index#91,airline#92,flight#93,source_city#94,departure_time#95,stops#96,arrival_time#97,destination_city#98,class#99,duration#100,days_left#101,price#102] Batched: true, DataFilters: [isnotnull(airline#92), (airline#92 = SpiceJet)], Format: Parquet, Location: InMemoryFileIndex(1 paths)[file:/Users/stanislas/Projets/Formation/spark_training/data/silver/air..., PartitionFilters: [], PushedFilters: [IsNotNull(airline), EqualTo(airline,SpiceJet)], ReadSchema: struct<index:int,airline:string,flight:string,source_city:string,departure_time:string,stops:stri...

9011

### Query the data using SQL

In [15]:
# Create a temporary view
df.createOrReplaceTempView("flights")

# Query this temporary view by using SQL
spark.sql(
    "SELECT * FROM flights LIMIT 10"
).show()

+-----+--------+-------+-----------+--------------+-----+-------------+----------------+-------+--------+---------+-----+
|index| airline| flight|source_city|departure_time|stops| arrival_time|destination_city|  class|duration|days_left|price|
+-----+--------+-------+-----------+--------------+-----+-------------+----------------+-------+--------+---------+-----+
|    0|SpiceJet|SG-8709|      Delhi|       Evening| zero|        Night|          Mumbai|Economy|    2.17|        1| 5953|
|    1|SpiceJet|SG-8157|      Delhi| Early_Morning| zero|      Morning|          Mumbai|Economy|    2.33|        1| 5953|
|    2| AirAsia| I5-764|      Delhi| Early_Morning| zero|Early_Morning|          Mumbai|Economy|    2.17|        1| 5956|
|    3| Vistara| UK-995|      Delhi|       Morning| zero|    Afternoon|          Mumbai|Economy|    2.25|        1| 5955|
|    4| Vistara| UK-963|      Delhi|       Morning| zero|      Morning|          Mumbai|Economy|    2.33|        1| 5955|
|    5| Vistara| UK-945|      Delhi|       Morning| zero|    Afternoon|          Mumbai|Economy|    2.33|        1| 5955|
|    6| Vistara| UK-927|      Delhi|       Morning| zero|      Morning|          Mumbai|Economy|    2.08|        1| 6060|
|    7| Vistara| UK-951|      Delhi|     Afternoon| zero|      Evening|          Mumbai|Economy|    2.17|        1| 6060|
|    8|GO_FIRST| G8-334|      Delhi| Early_Morning| zero|      Morning|          Mumbai|Economy|    2.17|        1| 5954|
|    9|GO_FIRST| G8-336|      Delhi|     Afternoon| zero|      Evening|          Mumbai|Economy|    2.25|        1| 5954|
+-----+--------+-------+-----------+--------------+-----+-------------+----------------+-------+--------+---------+-----+

### Partition the data

In [16]:
df.repartition(10, "source_city").show()

+-----+---------+-------+-----------+--------------+-----+------------+----------------+-------+--------+---------+-----+
|index|  airline| flight|source_city|departure_time|stops|arrival_time|destination_city|  class|duration|days_left|price|
+-----+---------+-------+-----------+--------------+-----+------------+----------------+-------+--------+---------+-----+
|84065|  AirAsia| I5-996|  Bangalore|       Evening| zero|       Night|           Delhi|Economy|    2.83|        1| 7489|
|84066|  Vistara| UK-820|  Bangalore|       Evening| zero|       Night|           Delhi|Economy|    2.67|        1| 7489|
|84067|  Vistara| UK-802|  Bangalore|       Evening| zero|       Night|           Delhi|Economy|    2.75|        1| 7489|
|84068|   Indigo|6E-6139|  Bangalore|     Afternoon| zero|     Evening|           Delhi|Economy|    2.75|        1| 7488|
|84069|   Indigo|6E-2514|  Bangalore|       Evening| zero|     Evening|           Delhi|Economy|    2.83|        1| 7488|
|84070|   Indigo|6E-2027|  Bangalore|       Morning| zero|   Afternoon|           Delhi|Economy|    2.92|        1| 7488|
|84071|   Indigo|6E-2174|  Bangalore|       Evening| zero|       Night|           Delhi|Economy|    2.92|        1| 7488|
|84072|   Indigo|6E-2034|  Bangalore|       Evening| zero|       Night|           Delhi|Economy|    2.92|        1| 7488|
|84073|Air_India| AI-505|  Bangalore|       Morning| zero|   Afternoon|           Delhi|Economy|    2.58|        1| 7489|
|84074|Air_India| AI-501|  Bangalore|     Afternoon| zero|   Afternoon|           Delhi|Economy|    2.58|        1| 7489|
|84075|Air_India| AI-503|  Bangalore|       Evening| zero|       Night|           Delhi|Economy|    2.75|        1| 7489|
|84076|  AirAsia|I5-1566|  Bangalore|     Afternoon|  one|     Evening|           Delhi|Economy|    5.83|        1| 7484|
|84077| GO_FIRST| G8-405|  Bangalore|     Afternoon|  one|     Evening|           Delhi|Economy|    4.25|        1| 7487|
|84078| GO_FIRST| G8-873|  Bangalore|       Morning|  one|       Night|           Delhi|Economy|    11.5|        1| 7487|
|84079| GO_FIRST| G8-385|  Bangalore| Early_Morning|  one|       Night|           Delhi|Economy|    14.0|        1| 7487|
|84080| SpiceJet| SG-136|  Bangalore| Early_Morning| zero|     Morning|           Delhi|Economy|    2.75|        1| 7593|
|84081|  AirAsia|I5-1528|  Bangalore| Early_Morning| zero|     Morning|           Delhi|Economy|    2.75|        1| 7905|
|84082|   Indigo|6E-2186|  Bangalore| Early_Morning| zero|     Morning|           Delhi|Economy|     3.0|        1| 7908|
|84083|Air_India| AI-804|  Bangalore| Early_Morning| zero|     Morning|           Delhi|Economy|    2.75|        1| 7909|
|84084|  Vistara| UK-810|  Bangalore| Early_Morning| zero|     Morning|           Delhi|Economy|    2.67|        1| 8329|
+-----+---------+-------+-----------+--------------+-----+------------+----------------+-------+--------+---------+-----+
only showing top 20 rows

## Basic analyses

In [ ]:
# Print the trip with the highest average price
# Initiate a SQL query in a string variable
sql_query_1 = "SELECT " \
"                   source_city, " \
"                   destination_city, " \
"                   AVG(price) AS average_price " \
"            FROM " \
"                   flights " \
"            GROUP BY " \
"                   source_city, " \
"                   destination_city " \
"            ORDER BY " \
"                   average_price DESC"

# Execute the query using Spark SQL and put into a list
output_1 = spark.sql(
    sql_query_1
).collect() 

print(output_1)

# The most expensive flight seems to be the one between Chennai and Bangalore
# WARNING: Data is not processed yet, so this is just an assumption that needs to be checked

print(f"The most expensive flight seems to be the one between {output_1[0][0]} and {output_1[0][1]}, with a price of {round(output_1[0][2])}")

print("WARNING: Data is not processed yet, so this is just an assumption that needs to be checked")

[Row(source_city='Chennai', destination_city='Bangalore', average_price=25081.85045433544), Row(source_city='Kolkata', destination_city='Chennai', average_price=23660.36104013227), Row(source_city='Bangalore', destination_city='Kolkata', average_price=23500.061228560033), Row(source_city='Bangalore', destination_city='Chennai', average_price=23321.85007800312), Row(source_city='Mumbai', destination_city='Bangalore', average_price=23147.87380675204), Row(source_city='Bangalore', destination_city='Mumbai', average_price=23128.618672231238), Row(source_city='Mumbai', destination_city='Chennai', average_price=22781.89911154985), Row(source_city='Chennai', destination_city='Mumbai', average_price=22765.849646605267), Row(source_city='Kolkata', destination_city='Bangalore', average_price=22744.80842833876), Row(source_city='Chennai', destination_city='Kolkata', average_price=22669.93240727481), Row(source_city='Mumbai', destination_city='Kolkata', average_price=22379.146722742422), Row(source_city='Kolkata', destination_city='Mumbai', average_price=22078.883578965728), Row(source_city='Hyderabad', destination_city='Chennai', average_price=21848.06598905395), Row(source_city='Chennai', destination_city='Hyderabad', average_price=21591.345403899722), Row(source_city='Kolkata', destination_city='Hyderabad', average_price=21500.011396732938), Row(source_city='Hyderabad', destination_city='Bangalore', average_price=21347.177998472118), Row(source_city='Bangalore', destination_city='Hyderabad', average_price=21226.121191756272), Row(source_city='Mumbai', destination_city='Hyderabad', average_price=21004.04670487106), Row(source_city='Hyderabad', destination_city='Kolkata', average_price=20823.89320145236), Row(source_city='Delhi', destination_city='Kolkata', average_price=20566.409418468244), Row(source_city='Hyderabad', destination_city='Mumbai', average_price=20080.865759141496), Row(source_city='Kolkata', destination_city='Delhi', average_price=19422.35455929945), Row(source_city='Delhi', destination_city='Chennai', average_price=19369.881354359924), Row(source_city='Delhi', destination_city='Mumbai', average_price=19355.82981228334), Row(source_city='Chennai', destination_city='Delhi', average_price=18981.863947664315), Row(source_city='Mumbai', destination_city='Delhi', average_price=18725.32000810318), Row(source_city='Delhi', destination_city='Bangalore', average_price=17880.216314587495), Row(source_city='Bangalore', destination_city='Delhi', average_price=17723.313972084907), Row(source_city='Delhi', destination_city='Hyderabad', average_price=17347.288379073758), Row(source_city='Hyderabad', destination_city='Delhi', average_price=17243.945685398543)]
The most expensive flight seems to be the one between Chennai and Bangalore, with a price of 25082
WARNING: Data is not processed yet, so this is just an assumption that needs to be checked

In [44]:
# Print the most represented airline
# Initiate a SQL query in a string variable
sql_query_2 = "SELECT " \
"                   airline," \
"                   COUNT(*) AS number_of_occurrences" \
"              FROM" \
"                   flights" \
"              GROUP BY " \
"                   airline" \
"              ORDER BY " \
"                   number_of_occurrences DESC" \
"               LIMIT " \
"                   1"

# Execute the query using Spark SQL and put into a list
output_2 = spark.sql(
    sql_query_2
).collect() 

print(output_2)

# Vistara seems to be the most represented airline, with 127,589 occurrences
# WARNING: Data is not processed yet, so this is just an assumption that needs to be checked

print(f"The most represented airline seems to be {output_2[0][0]}, with {output_2[0][1]} occurrences.")
print("WARNING: Data is not processed yet, so this is just an assumption that needs to be checked")

[Row(airline='Vistara', number_of_occurrences=127859)]
The most represented airline seems to be Vistara, with 127859 occurrences.
WARNING: Data is not processed yet, so this is just an assumption that needs to be checked